.freeform-mixed {
	margin-left: 50px;


	fieldset.element  {
		display: table-cell;
		vertical-align: middle;
		margin-bottom: 1em;
		white-space: nowrap;
	}

	.element .input-region {
		display: inline-block;
	}

	.element textarea,
	.element input[type=text] {
		font-size: 18px;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,0.1);
		padding: 5px 8px;
		padding-bottom: 6px;
		width: 100%;
		box-sizing: border-box;
	}
	.element input[type=text]:hover {
		border: 1px solid rgba(0,0,0,0.3);
	}
	.element input[type=text]:hover,
	.element input[type=text]:focus {
		border: 1px solid rgba(0,0,0,0.3);
	}
	.element.element-error textarea,
	.element.element-error input[type=text] {
		border: 1px solid rgba(153,0,0,0.5);
	}
	.element label {
		font-size: 18px;
		user-select: none;
	}
	.element label.label {
		display: block;
		margin-bottom: 5px;
	}
	.element label.error {
		display: inline-block;
		margin-left: 5px;
		font-style: italic;
		font-family: Georgia, Serif;
		color: rgba(153,0,0,1);
	}

	.element.type-textarea .input-region,
	.element.type-text .input-region {
		width: 280px;
	}

	fieldset.element.type-textarea label.error {
		vertical-align: top;
		margin-top: 4px;
	}

	.element.type-checkbox .input-region,
	.element.type-checkbox label.label {
		display: inline-block;
	}

	.element.type-checkbox input {
		position: relative;
		top: -2px;
	}

}